/* From Uiverse.io by ilkhoeri */
.wrapper {
  width: 100vw;
  height: 28vh;
  top: 6vh;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.inner {
  --w: 70px;
  --h: 105px;
  --translateZ: calc((var(--w) + var(--h)) + 0px);
  --rotateX: -15deg;
  --perspective: 1000px;
  position: absolute;
  width: var(--w);
  height: var(--h);
  top: 25%;
  /* background-color: aquamarine; */
  z-index: 2;
  left: calc(50% - (var(--w) / 2) - 2.5px);
  transform-style: preserve-3d;
  transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(0);
  transition: transform 0.6s cubic-bezier(.4,2,.6,1);
  animation: rotating 30s linear infinite;
}

@media screen and (width >= 1000px) {
  .wrapper {
    height: 35vh;
  }
  .inner {
    --w: 100px;
    --h: 150px;
    --perspective: 1000px;
  }
  
}

@keyframes rotating {
  from {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(0);
  }

  to {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(360deg);
  }
}

.card {
  position: absolute;
  border: 2px solid rgba(var(--color-card));
  border-radius: 12px;
  overflow: hidden;
  inset: 0;
  transform: rotateY(calc((360deg / var(--quantity)) * var(--index))) translateZ(var(--translateZ));
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #0000 radial-gradient(circle,
      rgba(var(--color-card), 0.2) 0%,
      rgba(var(--color-card), 0.6) 80%,
      rgba(var(--color-card), 0.9) 100%);
}